<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" routerLink="/">Open Data - Train</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/departements" [queryParams]="{page: 1}">Les gares</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/partir">Partir</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- zone d'affichage des vues -->
<div class="container-fluid">
    <div class="row">

        <!-- onglet de droite -->
        <div class="col-xs-12 col-sm-3 col-md-3">
            <router-outlet name="left-outlet"></router-outlet>
        </div>

        <!-- onglet du centre et de la gauche -->
        <div class="col-xs-12 col-sm-8 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>