<!-- présentation de la liste des pages -->
<nav class="text-center" aria-label="Page navigation">
    <ul class="pagination pagination-sm">
        <!-- aller à la première page -->
        <li>
            <a [routerLink]="[]" [queryParams]="{page: departement.pages[0].index}" queryParamsHandling="merge" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <!-- aller à une page quelconque -->
        <li *ngFor="let page of departement.pages;" [class.active]="departement.selected === page">
            <a [routerLink]="[]" [queryParams]="{page: page.index}" queryParamsHandling="merge">
                {{ page.index }}
            </a>
        </li>

        <!-- aller à la dernière page -->
        <li>
            <a [routerLink]="[]" [queryParams]="{page: departement.pages[departement.pages.length - 1].index}" queryParamsHandling="merge"
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<!-- présentation de la liste des départements de la page courante -->
<div class="list-group">
    <a *ngFor="let item of departement.selected?.items" [routerLink]="[ item.libelle ? item.libelle : 'Département inconnu' ]"
        queryParamsHandling="merge" routerLinkActive="active" class="list-group-item">
        {{ item.libelle ? item.libelle : 'Département inconnu' }}
    </a>
</div>