<div class="row">
    <div class="col-xs-12 col-sm-9 col-md-8">
        <div class="jumbotron">
            <h1>Test</h1>
            <p class="text-justify">
                A travers ce modeste POC, j'essaie de répondre aux questions du test. L'application est responsive. Elle tend à véhiculer
                l'information avec un confort optimal aussi bien sur un écran d'ordinateur, que sur un écran tablette ou
                un écran de téléphone.
            </p>
            <br><br>
            <p class="text-center">
                <em class="small">On peut toujours faire mieux. Tout n'est qu'une question de conditions de travail.</em>
            </p>
            <p class="text-right">
                <a class="btn btn-lg btn-primary" routerLink="/departements" [queryParams]="{ page: 1 }" role="button">Voir les gares</a>
            </p>
        </div>
    </div>
</div>